<!DOCTYPE html>
<html>
<head>
    <title>{{ page.title }} - Irish Cactus and Succulent Society</title>
    <meta charset="UTF-8">
    <meta name="author" content="Gabriela Antohi">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ page.base_url }}/stylesheets/app.css">
    <link rel="stylesheet" type="text/css" href="{{ page.base_url }}/stylesheets/main.css">
    <link rel="stylesheet" type="text/css" href="{{ page.base_url }}/stylesheets/animsition/css/animsition.min.css">
    <link rel="stylesheet" type="text/css" href="{{ page.base_url }}/stylesheets/slick/slick.css">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
</head>

<body class="animsition">
<!-- Header -->
<header class="header1">
    <div class="container-menu-header">
        <div class="topbar">
            <div class="topbar-social">
                <a href="{{ page.facebook_page_url }}" class="topbar-social-item fa fa-facebook" target="_blank"></a>
                <a href="{{ page.twitter_page_url }}" class="topbar-social-item fa fa-twitter" target="_blank"></a>
                <!--<a href="https://www.pinterest.ie/irishcactusandsucculentsociety" class="topbar-social-item fa fa-pinterest-p" target="_blank"></a>-->
            </div>
        </div>

        <div class="wrap_header">
            <!-- logo -->
            <a href="{{ page.base_url }}" class="logo">
                ICSS
            </a>
            <!-- nav -->
            <div class="wrap_menu">
                <div id="container">
                    <nav class="menu">
                        <ul class="main_menu">
                            <li>
                                <a href="{{ page.base_url }}/index.html">Home</a>
                            </li>
                            <li>
                                <a href="{{ page.base_url }}/about.html">About</a>
                            </li>
                            <li>
                                <a href="{{ page.base_url }}/contact.html">Contact</a>
                            </li>
                        </ul>
                    </nav>
                    <div class="mobile">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

{{ content }}

<!-- Footer -->
<footer>
    <div class="content-width">
        <div class="inner_container clearfix">
            <div class="get_in_touch">
                <h4>
                    Get in touch
                </h4>
                <p>
                    Any questions? Let us know by calling or texting <strong>(+353) 87-2308330</strong>, email<strong> <a href="mailto:frankkeoghan2@gmail.com">frankkeoghan2@gmail.com</a></strong> or by using the form on the <strong>Contact page</strong>.
                </p>
                <!--social media - icons from fontawesome-->
                <div class="social">
                    <a href="{{ page.facebook_page_url }}" class="color_pink fa fa-facebook fa-2x" target="_blank"></a>
                    <!--<a href="#" class="color_pink fa fa-instagram fa-2x" target="_blank"></a>-->
                    <a href="{{ page.twitter_page_url }}" class="color_pink fa fa-twitter fa-2x" target="_blank"></a>
                    <!--<a href="https://www.pinterest.co.uk/irishcactusandsucculentsociety" class="topbar-social-item fa fa-pinterest-p fa-2x" target="_blank"></a>-->
                </div>

            </div>
            <div class="get_in_touch2">
                <h4>
                    Address
                </h4>
                <p>
                    Dublin and District Cactus and Society<br />
                    25 Shanowen Crescent<br />
                    Dublin 9<br />
                    Ireland
                </p>
            </div>

        </div>
    </div>

    <div class="vertical">
        <span></span><p> &copy; Irish Cactus and Succulent Society</p>
    </div>

    <!-- Back to top button :) -->
    <div class="btn-back-to-top" id="myBtn">
            <span class="symbol-btn-back-to-top">
                <i class="fa fa-angle-double-up" aria-hidden="true"></i>
            </span>
    </div>

</footer>
<script src="https://use.fontawesome.com/3d3a53909b.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="{{ page.base_url }}/javascripts/jquery.js"></script>
<script type="text/javascript" src="{{ page.base_url }}/javascripts/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="{{ page.base_url }}/stylesheets/animsition/js/animsition.min.js"></script>
<script type="text/javascript" src="{{ page.base_url }}/stylesheets/slick/slick.min.js"></script>
<script type="text/javascript" src="{{ page.base_url }}/javascripts/slick-custom.js"></script>
<script type="text/javascript" src="{{ page.base_url }}/javascripts/main.js"></script>

<script src="https://code.jquery.com/jquery-1.12.4.min.js"
        integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
        integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
        crossorigin="anonymous"></script>
</body>
</html>
